= simple_form_for(@firm) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url
    / = f.label :principals
    = f.input :principals, :label => "Principals (Please separate each name with a comma)<br />"
    = f.input :address
    = f.input :zipcode
    = f.input :city
    = f.input :state

  .form-actions
    = f.button :submit
