%p#notice= notice

%p
  %b Name:
  = @firm.name
%p
  %b Url:
  = @firm.url
%p
  %b Principals:
  = @firm.principals
%p
  %b Address:
  = @firm.address
%p
  %b Zipcode:
  = @firm.zipcode
%p
  %b City:
  = @firm.city
%p
  %b State:
  = @firm.state
%p
  %b Places:
  %ul
  - @firm.places.each do |p|
    %li= link_to p.name, p

= link_to 'Edit', edit_firm_path(@firm)
\|
= link_to 'Back', firms_path
