/ information about Place
.container
  .information-box.span_4_of_12.push{"ng-controller" => "PlacePanelCtl", :id => "PlacePanelCtl", :style => "z-index:9999;"}
    .navbar.span_12_of_12{:style => 'z-index:9999;height:30px;background:white;'}
    - if user_signed_in?
      = link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path
    %h2{"ng-hide" => "initialized"} Click a marker on the map!
    .building-image{"ng-hide" => "!initialized"}
      = image_tag(nil, "ng-src" => "{{place.image_url}}", alt: "background", :class => "background-image span_12_of_12")
    .building-image-thumbnail{"ng-hide" => "!initialized"}
      = image_tag(nil, "ng-src" => "{{place.image_url}}", alt: "background", :class => "thumbnail span_12_of_12")
    .building-information{"ng-hide" => "!initialized"}
      %h2
        {{place.name}}
      %p.coordinates
        Lat: {{place.latitude}}
      %p.coordinates
        Lon: {{place.longitude}}
      %p.building-description{"ng-bind-html" => "place.summary"}

      %h3 Categories:
      %p
        %ul
          %li{"ng-repeat" => "category in place.categories"}
            {{category.name}}


%script{:src => "http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.js"}
%link{:href => "http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.css", :rel => "stylesheet"}/
/[if lte IE 8]
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.ie.css' rel='stylesheet' >

#map

:javascript
  // mapbox scripts
  var map = L.mapbox.map('map', 'ghholt.map-7po6ov6d');
  // load markers from server
  var markerLayer = L.mapbox.markerLayer().loadURL('/place/index.json');
  map.addLayer(markerLayer);
  markerLayer.on('click', function(e){
    console.log(e.layer.feature.properties['id']);
    var app = document.getElementById('PlacePanelCtl');
    var scope = angular.element(app).scope();
    scope.$apply(function(){
      scope.fetchPlace(e.layer.feature.properties['id']);
      scope.initialized = true;
    });
  });

  // angular scripts
  var app = angular.module('built-nyc', ['ngSanitize']);
  app.controller('PlacePanelCtl', function($scope){
    $scope.fetchPlace = function(id){
      // fetch specific place from server
      $.ajax({
        type : 'GET',
        dataType : 'json',
        contentType: "application/json; charset=utf-8",
        url: '/place/'+id+'.json',
        data: {},
        success: function(data){
          $scope.$apply(function(){ //$apply the changes when marker is clicked
            $scope.place = data;
          });
        },
        error : function(xhr, ajaxOptions, thrownError) {
          console.log( "Error: " + xhr.responseText + "\n" + thrownError );
        }
      });
    }
  });
