= minimal_form_for(@place) do |f|
  = f.error_notification

  .form-inputs
    = f.input :summary
    = f.input :year_built
    = f.input :image_url
    = f.label :arch_style, "Architectural style"
    = f.input :arch_style
    = f.input :gov_body
    = f.input :nrhp_ref
    = f.input :name
    = f.input :location
    = f.input :address
    = f.input :city
    = f.input :state
    = f.input :zipcode

  .form-actions
    = f.button :submit
