= simple_form_for(@place) do |f|
  = f.error_notification

  .form-inputs
    = f.input :summary
    = f.input :year_built
    = f.input :image_url
    = f.input :arch_style, label: "Architectural style"
    = f.input :name
    = f.input :location, label: "Neighborhood"
    = f.input :address
    = f.input :city
    = f.input :state
    = f.input :zipcode

  .form-actions
    = f.button :submit

= link_to "Back", root_path, "data-no-turbolink" => "true"